<!-- welcome content -->
<div class="container">
  <div class="row">
    <div class="col-lg-7 homeContent story">
      <h2>Story</h2>
      <hr>
      <p>I’m a designer &amp; developer living in New York, New York.</p>
      <p>By day I’m a freelance front-end dev, working on projects for clients and by night, thursday nights to be exact, I’m over speaking in 140 characters on <a href="https://twitter.com/cayferg" target="_blank">twitter</a> as I over indulge on the TGIT Line up.</p>
      <p>Otherwise you can find me commiting to <a href="https://caydn.github.io" target="_blank">github</a> or taking notes behind the scenes at <a href="#" target="_blank">DevGirl Notes</a>.</p>
    </div>
    <div class="col-lg-5 homeContent ">
      <h2>Projects</h2>
      <hr>
      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.description %></p>
      <% end %>

      <%= link_to "view all projects", projects_path, class: "view" %><!-- view all btn -->
    </div>
    <!-- <div class="col-md-3 homeContent">
      <h2>Notes</h2>
      <hr>

      <h3><a href="#">Thoughts</a></h3>
      <p class="date">thsi is sps text description</p>

      <h3><a href="#">Project | Ecom</a></h3>
      <p class="date">thsi is sps text description</p>

      <h3><a href="#">Inspiration</a></h3>
      <p class="date">thsi is sps text description</p>

      <a href="notes.html" class="view">view all  notes</a>
    </div> -->
  </div>



</div><!-- end container-->
