<section id="contact_form" class="portfolio">
    <div class="container test2">
        <div class="row">
            <div class="col-lg-12 thanks">
              <h1 class="page_title text-center">Thank you for your message!</h1>
              <p class="lead text-center">I'll get back to you soon</p>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
