

<div class="new_post">
  <div class="container">
    <div class="row" >
      <div class="col-md-8 col-md-offset-2">

        <div class="back-btn">
            <i class="fa fa-angle-left"></i> <%= link_to 'Back', projects_path, class: "back" %>
            || <%= link_to 'Show', @project, class: "back" %> <i class="fa fa-angle-right"></i>
        </div>
        <h3 class="text-center">Editing Project</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="project_form">
          <%= render 'form', project: @project %>
        </div>
      </div>
    </div>
  </div>
</div>
