  <h3 class="text-center">CREATE NEW POST</h3>

<div class="new_post">
  <div class="container">
    <div class="row" >
      <div class="col-md-8 col-md-offset-2">
        <div class="back-btn">
            <i class="fa fa-angle-left"> <%= link_to 'Back', projects_path, class: "back" %></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="project_form">
          <%= render 'form', project: @project %>
        </div>
      </div>
    </div>
  </div>
</div>
